/****************************************/
/*************** MENU ****************/
/****************************************/

.menu {
  /* background-color: bisque; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuthemebutton {
  background: none;
  border: none;
  padding: 0;   
}

.menubarsbutton {
  background: none;
  border: none;
  padding: 0;   
}

@media (max-width: 800px) {
  .menu {
    width: 100%;
    min-height: 60px;
  }
}

/****************************************/
/*************** NAVBAR ****************/
/****************************************/

.navbar ul {
  /* background-color: cornflowerblue; */
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.navbar a {
  text-decoration: none;
}

@media (max-width: 600px) {
  .navbar ul {
    display: block;
    margin-bottom: 20px;
    line-height: 30px;
  }
}

/****************************************/
/*************** SOCIALS ****************/
/****************************************/

.socials {
  /* background-color: antiquewhite; */
  list-style-type: none;
  padding: 0px;
  height: 40px;
  display: flex;
  margin: 0;
  gap: 8px;
}

.socials :nth-child(3) :last-child{
  width: 18.5px;
  margin-left: 1px;
}

.socials li a {
  /* background-color: brown; */
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  border-radius: 25%;
}

/****************************************/
/*************** FOOTER *****************/
/****************************************/

.footer {
  background-color: burlywood;
  font-size:15px;
}

/******************************************/
/*************** DATETIME *****************/
/******************************************/

/*data de criação do texto*/

.datetime {
  /* background-color: rgb(52, 141, 156); */
  color: var(--subtitle); 
  font-size: large;
  font-weight: 300;
  max-width: 100px;
  min-width: 100px
}

/**************************************/
/*************** MYHR *****************/
/**************************************/

.myhr {
  border: none;
  border-top: 1px solid var(--subtitle); /* Linha fina usando a variável --subtitle */
  margin: 30px 0px 30px 0px;
  display: block;
}

/*******************************************/
/*************** TAGBUTTON *****************/
/*******************************************/

.default_button {
  background-color: var(--subtitle);
  color: var(--background);
  border: none;
  border-radius: 1rem;
  padding: 8px;
  cursor: pointer;
}

/**********************************************/
/*************** MYPAGINATION *****************/
/**********************************************/

.mypagination {
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 40px;
}

.mypaginationButton, .mypaginationAnt, .mypaginationProx {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  font-family: "Raleway";
  font-size: 14px;
}

.activeButton {
  font-weight: bold; /* Destaca apenas o botão da página atual */
}

@media (max-width: 800px) {
  .mypagination {
    display: flex !important;
  }
}

/********************************************/
/*************** BREADCRUMP *****************/
/********************************************/

.breadcrumb * {
  color: var(--subtitle);
}

.breadcrumb {
  /* background-color: aqua; */
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 5px;
  font-size: 15px;
  /* font-weight: 200; */
  height: 20px;
  margin-bottom: 20px;
}

.breadcrumb a {
  text-decoration: none;
}