/****************************************/
/*************** MENU ****************/
/****************************************/

.menu {
  /* background-color: bisque; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1080px) {
  .menu {
    width: 100%;
    min-height: 60px;
  }
}

/****************************************/
/*************** NAVBAR ****************/
/****************************************/

.navbar ul {
  /* background-color: cornflowerblue; */
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.navbar a {
  text-decoration: none;
}

@media (max-width: 1080px) {
  .navbar ul {
    display: block;
    margin-bottom: 20px;
    line-height: 30px;
  }
}

/****************************************/
/*************** SOCIALS ****************/
/****************************************/

.socials {
  /* background-col or: antiquewhite; */
  list-style-type: none;
  padding: 0;
  display: flex;
  margin: 5px 0;
  height: 50px;
  align-items: center;
  gap: 7px;
}

.socials li {
  /* background-color:aqua; */
  width: 22.5px;
  height: 22.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.socials li a {
  /* background-color: brown; */
  display: flex;
  justify-content: center;
}

.socials li:nth-child(1) {
  font-size: 20px;
}

.socials li:nth-child(2) {
  font-size: 18px;
  margin-left: 2px;
}


.socials li:hover {
  rotate: 10deg;
}

/****************************************/
/*************** FOOTER *****************/
/****************************************/

.footer {
  /* background-color: burlywood; */
  font-size:15px;
}

/******************************************/
/*************** DATETIME *****************/
/******************************************/

/*data de criação do texto*/

.datetime {
  /* background-color: rgb(52, 141, 156); */
  color: var(--subtitle); 
  font-size: large;
}

/**************************************/
/*************** MYHR *****************/
/**************************************/

.myhr {
  border: none;
  border-top: 1px solid var(--subtitle); /* Linha fina usando a variável --subtitle */
  margin: 30px 0px 30px 0px;
  display: block;
}