:root, html, body {
  --color-fill-light: rgb(255, 255, 255);
  --color-text-base-light: rgb(39, 39, 40);
  --color-subtitle-light: rgb(128, 110, 96); /* Ajustado para melhorar o contraste */
  --color-hr-light: rgb(209, 198, 180); 
  
  --color-fill-dark: rgb(33, 37, 43); 
  --color-text-base-dark: rgb(243, 238, 234);
  --color-subtitle-dark: rgba(189, 155, 123, 0.9); /* Ajustado para melhorar o contraste */
  --color-hr-dark: rgb(94, 81, 71); 
} 

[data-theme="dark"] {
  --background: var(--color-fill-dark);
  --foreground: var(--color-text-base-dark);
  --subtitle: var(--color-subtitle-dark);
  --hr: var(--color-hr-dark)
}

[data-theme="light"] {
  --background: var(--color-fill-light);
  --foreground: var(--color-text-base-light);
  --subtitle: var(--color-subtitle-light);
  --hr: var(--color-hr-light)
}

* {
  background-color: var(--background);
  color: var(--foreground);
}

html {
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
  max-width: 620px;
  min-width: 620px;
  font-family: "Ubuntu";
  font-weight: 300;
}

.footnotes {
  font-size: 0.8em;
}

.footnotes > ol {
  padding: 0;
  margin: 5px;
}

.footnotes > ol > li {
  padding: 0;
  margin: 5px;
  justify-content: left;
}

.footnotes p {
  margin-left: 0;
}

@media (max-width: 600px) {
  :root, html {
    margin-right: 10px;
    margin-left: 10px;
  }

  body {
    max-width: 700px;
    width: 100%;
    min-width: 320px;
  }
}
