/* styles.module.css */
:root, html {
  margin-inline: 130px;
  margin-top: 70px;
  --color-fill-light: rgb(250, 242, 234);
  --color-text-base-light: rgb(40, 39, 40);
  --color-accent-light: rgb(39, 96, 129);
  --color-subtitle-litgh: rgb(187, 169, 136);
  
  --color-fill-dark: rgb(33, 39, 55); 
  --color-text-base-dark: rgb(234, 237, 243);
  --color-accent-dark: rgb(204, 71, 41);
  --color-subtitle-dark: rgb(104, 99, 92);
}

[data-theme="dark"] {
  --background: var(--color-fill-dark);
  --foreground: var(--color-text-base-dark);
  --accent: var(--color-accent-dark);
  --subtitle: var(--color-subtitle-dark);
}

[data-theme="light"] {
  --background: var(--color-fill-light);
  --foreground: var(--color-text-base-light);
  --accent: var(--color-accent-light);
  --subtitle: var(--color-subtitle-litgh)
}

body {
  font-family: "IBM Plex mono";
  margin: 0;
}

a:hover {
  color: var(--accent);
}

* {
  background-color: var(--background);
  color: var(--foreground);
}

.footnotes {
  /* background-color: #f0f0f0; */
  font-size: 0.8em;
}

.footnotes > ol {
  /* background-color: aqua; */
  padding: 0;
  margin: 5px;
}

.footnotes > ol > li {
  /* background-color: aqua; */
  padding: 0;
  margin: 5px;
  justify-content: left;
}

.footnotes p {
  margin-left: 0
}

@media (max-width: 1080px) {
  :root, html {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 0px;
  }
}

