.header {
  /* background-color: rgb(110, 194, 121) ; */
  list-style-type: none;  
  display: grid;
  grid-template-rows: 200px 165px;
}

/* estilos da seção 1*/

.section1 {
  /* background-color: rgb(255, 252, 72); */
  transform: rotate(90deg); /* Usa transform para rotacionar */
  transform-origin: right left;
  height: 190px;
  width: 190px;
  display:flex;
  align-items: flex-end;
  text-align: center;
}

.section1 div {
  background-color: var(--accent);
  color: var(--background);
  width: 190px;
  transition: padding 1s;
  font-weight:bold;
  padding-bottom: 6px;
}

.section1 a {
  /* background-color: chartreuse; */
  text-decoration: none;
  font-size:35px;
  line-height: 60px;
}

.section1 a :hover {
  padding-bottom: 30px;
  padding-top: 30px;
  background-color: var(--accent);
  color: var(--background);
}

/*estilos da seção 2*/

.section2 ul {
  /* background-color: cornflowerblue; */
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 27.5px;
  list-style-type: none;
  padding: 0;
  margin-top: 32px;
  height: fit-content
}

@media (max-width: 1016px) or (max-height: 500px) {
  .header{
    grid-template-rows: auto;
  }
  
  .section1 {
    /* background-color: rgb(44, 82, 116); */
    transform: none;
    height: auto;
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .section1 div {
    background-color: inherit;
    color: inherit;
  }

  .section1 a :hover {
    padding-bottom: 6px;
    padding-top: 0;
    background-color: transparent;
    color: var(--accent);
  }
  
  .section2 ul {
    /* background-color: brown; */
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 10px;
    align-items: center;
  }
}