/****************************************/
/*************** NAVMENU ****************/
/****************************************/

.navmenu {
  /* background-color:beige;  */
  min-height: 100px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 600px) {
  .navmenu {
    /* background-color: aqua; */
    display: block;
    min-height: 60px;
  }
}

/*************************************/
/*************** MAIN ****************/
/*************************************/

.layout_main {
  padding-top: 15px;
}

/***************************************/
/*************** RODAPE ****************/
/***************************************/

.layout_rodape {
  margin-top: 100px;
}