.lexico ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.lexico ul * {
  text-decoration: none;
}

.lexico div {
  background-color: var(--hr);
  height: 160px;  
  width: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lexico a :hover {
  color: var(--accent);
  font-weight: 600;
}

/*slug do léxico*/

.lexicoslug {
  margin-top: 25px;
}

.lexicoslug h1, .lexicoslug p {
  /* background-color: rgb(175, 40, 40); */
  margin: 0;
  padding: 0;
}

.lexicoslug h1 {
  font-size:x-large
}

.lexicoslug :first-child :nth-child(2) * {
  color: var(--subtitle);
  font-style: italic;
  height: 60px;
}



