/***************************************/
/**************** INDEX ****************/
/***************************************/

/*títulos de textos recentes*/

.recents_ul {
  list-style-type: none;
  padding: 0;
}

.recents_li {
  /* background-color: aqua; */
  display: flex;
  gap: 20px;
}

/*título dos texto*/

.recents_ul h1 {
  font-size: 17px;
  font-weight: 400;
  cursor: pointer;
}

/* Remove as margens padrão entre os elementos */
.recents_ul li h1,
.recents_ul li p {
  margin: 0;
  padding: 0; 
}

.recents_h1 {
  font-weight: 200;
}

@media (max-width: 1080px) {
  .recents_li {
    display: block;
  }
}
/**************************************/
/**************** BLOG ****************/
/**************************************/

/* INDEX */

.txt_index li {
  /* background-color:brown; */
  display: flex;
  gap: 15px;
}

.txt_index a {
  text-decoration: none;
}

@media (max-width: 1080px) {
  .txt_index section{
    /* background-color: aqua; */
    display: block;
  }
}

/* [SLUG] */

.txt_slug_title {
  margin: 0;
}

.txt_slug_date {
  height: 50px;
}

/**************************************/
/**************** TAGS ****************/
/**************************************/

.rec_index li {
  /* background-color:brown; */
  display: flex;
  gap: 15px;
}

.rec_index a {
  text-decoration: none;
}

@media (max-width: 1080px) {
  .rec_index section{
    /* background-color: aqua; */
    display: block;
  }
}

/****************************************/
/**************** LÉXICO ****************/
/****************************************/

/* INDEX */

.lexico ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.lexico ul * {
  text-decoration: none;
}

.lexico div {
  background-color: var(--subtitle);
  height: 160px;  
  width: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lexico a :hover {
  color: var(--accent);
  font-weight: 600;
}

@media (max-width: 1080px) {
  .lexico ul{
    /* background-color: aqua; */
    justify-content: center;
  }
}

/* SLUG */

.lexicoslug h1, .lexicoslug p {
  /* background-color: rgb(175, 40, 40); */
  margin: 0;
  padding: 0;
}

.lexicoslug h1 {
  /* background-color: aquamarine; */
  font-size:x-large
}

.lexicoslug p {
  margin-top: 60px;
  /* background-color: aquamarine; */
}

/**************************************/
/*************** SOBRE ****************/
/**************************************/

.sobre_mdx {
  margin-right: 5px;
}

.sobre_mdxrodape {
  /* background-color: black; */
  height: 20px;
}