.titles {
  /* background-color: aqua; */
  margin-bottom: 50px;
  margin-top: 20px;
}

.titles h1, .titles h2 {
  margin: 0;
  padding: 0;
}

.titles h1 {
  font-size: 30px;
} 

.titles h2 {
  font-weight: 50;
  font-style: italic;
  font-size: 16px;
}