.section {
  /* background-color: aqua; */
  height: 80px;
  align-items: center; 
  display:flex;
  gap: 15px;
  min-width: 360px;
  position:fixed;
  top: 0;
  margin-left: 5px;
  width: 100%;
}

.home {
  font-size: 22px;
  display: flex;
}

.section a:hover * {
  color: var(--accent);
}

@media (max-width: 1016px) or (max-height: 500px) {
  .section {
    /* background-color: aquamarine; */
    display: flex;
    height: 50px;
    position: unset;
    justify-content: space-between;
  }

  .section a {
    margin-right: 20px;
    margin-left: 20px;
  }
}

