  /****************************************************/
  /**********************HEADER************************/
  /****************************************************/

  .appheader_container {
    background-color:var(--background);
    display: flex;
    justify-content: right;
    height: 50px;
    padding-inline: 15px;
    align-items: center;
    @media (max-width: 700px) {
      justify-content: space-between;
    }
  }

  /*****************************************************/
  /**********************SIDEBAR************************/
  /*****************************************************/

  .appsidebar_container {
  background-color: var(--background);
  /* border-right: 1px solid var(--background); */
  width: 200px;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
  @media (max-width: 700px) {
    position: fixed;
    left: 0;
    top: 50px;
    height: calc(100svh - 50px);
    transform: translateX(-100%); 
    visibility: hidden;  
    pointer-events: none;
    z-index: 1000;
  }
}

.appsidebar_mobile_open {
  transform: translateX(0) !important;
  visibility: visible !important;
  pointer-events: auto !important;
  opacity: 1 !important;
}

.appsidebar_navbar {
  /* background-color: tomato; */
  list-style: none;
  gap: 5px;
  display: flex;
  flex-direction: column;
}

.appsidebar_navbar li{
  /* background-color: aquamarine; */
  height: 30px;
  width: fit-content;
  display: flex;
  align-items: center;
}

.appsidebar_navbar a {
  text-decoration: none;
}

.appsidebar_navitem {
  position: relative;
}

.appsidebar_navitem a {
  text-decoration: none;
  color: var(--foreground);
}

.appsidebar_navitem::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1.5px;
  background-color: var(--foreground);
  transition: width 0.3s ease;
} 

.appsidebar_navitem:hover::after {
  width: 100%;
}

.appsidebar_navitem.active::after {
  width: 100%;
}

/**********************************************************/
/**********************THEME TOGGLE************************/
/**********************************************************/

.theme_button {
  background-color: var(--background); 
  border: none;
  cursor: pointer;
  padding: 0;
}

.theme_switch_container {
  /* background-color: aquamarine; */
  height: calc(100% - 3px);
  padding: 3.5px 0px;
}

.theme_switch {
  width: 30px;
  height: 60px;
  border-radius: 2rem; 
  border: 1px solid var(--foreground);
  background-color: var(--background);
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; */
}

.theme_switch_icon_active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.theme_switch_icon_inactive {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.theme_switch:hover {
  opacity: 0.8;
}

/**********************************************************/
/**********************MENU BUTTON************************/
/**********************************************************/

.menu_button {
  background-color: var(--background);
  border: none;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

/*********************************************************/
/**********************GITHUB LINK************************/
/*********************************************************/

.github_link {
  background-color: var(--background);
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/****************************************************/
/**********************FOOTER************************/
/****************************************************/

.footer {
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1px;
}

.link_source {
  text-decoration: none;
}

/***********************************************/
/*************** ARCHIVEBUTTON *****************/
/***********************************************/

.default_button {
  background-color: var(--link);
  /* color: var(--background); */
  border: none;
  border-radius: 1rem;
  padding: 8px;
  cursor: pointer;
  min-width: 80px;
}

/*******************************************/
/*************** POST LIST *****************/
/*******************************************/

.post_list {
  /* background-color: aquamarine; */
  list-style: none;
  display: flex;
  flex-direction: column;
  gap:10px;
  /* font-size: 15px; */
}

.post_list a {
  text-decoration: none;
}

.post_item {
  /* background-color: aquamarine; */
  display: flex;
  gap: 20px;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.post_title {
  text-decoration: none;
  font-weight: 300;
  font-size: 17px;
}

.post_subtitle {
  color: var(--link);
}

/****************************************/
/*************** NAVBAR *****************/
/****************************************/

.navbar {
  list-style: none;
  display: flex;
  gap: 20px; /* adjust as needed */
}

.navItem {
  position: relative;
}

.navItem a {
  text-decoration: none;
  color: var(--foreground);
}

.navItem::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--foreground);
  transition: width 0.3s ease;
}

.navItem:hover::after {
  width: 100%;
}